<div class="row">
	<div class="col-md-6 col md-offset-3">
		<h1>Profile</h1>

		<% user = current_user %>

		<table class="table">
			<tr>
				<th>Name</th>
				<td><%= user.name %></td>
			</tr>
			<tr>
				<th>Email</th>
				<td><%= user.email %></td>
			</tr>
		</table>
	</div>
</div>